[Desktop Entry]
Encoding=UTF-8
Name=DroidCam
Comment=Use your phone as a webcam
TryExec=droidcam
Exec=droidcam
Icon=com.dev47apps.droidcam
Terminal=false
Type=Application
Categories=Video;AudioVideo;
